<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/hobielogo-icon.png">

    <!-- ========== LINK CSS ===========  -->

    <link rel="stylesheet" href="../assets/Css/style.css">
    
    <!-- =========== LINK REMIX ICON ============  -->

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    
    <title>Hobie - Art's Gallery</title>
</head>
<body>
    <!-- =============== HEADER ================ -->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__logo">
                <a href="" class="nav__logo-link">Hobie</a>
            </div> <!--======= logo ends =======-->

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                    <a href="#home" class="nav__link">
                    <i class="ri-home-line "></i>
                    <span class="nav-link__text">
                        home
                    </span>
                    </a>
                    </li>
                    
                    <li class="nav__item">
                    <a href="#explore" class="nav__link">
                    <i class="ri-compass-3-line"></i>
                    <span class="nav-link__text">
                        explore
                    </span>
                    </a>
                    </li>
                    
                    <li class="nav__item">
                    <a href="#gallery" class="nav__link">
                    <i class="ri-gallery-line"></i>
                    <span class="nav-link__text">
                        my gallery
                    </span>
                    </a>
                    </li>
                    
                    <li class="nav__item">
                    <a href="#account" class="nav__link">
                    <i class="ri-account-circle-line"></i>
                    <span class="nav-link__text">
                        account
                    </span>
                    </a>
                    </li>
                </ul>

            </div>
            <!-- ==== form ====  -->
            
            <form action="" class="search-form">
                <input type="search" placeholder="Search Here..." id = "search-box">
                <label for="search-box" class = "ri-search-line"></label>
            </form>
            <a href="" class="nav-logo-link">
                <img src="../assets/images/hobielogo-icon.png" alt="" class="nav__img">
            </a>
            
        </nav>
    </header>

     <!-- =============== MAIN ================ -->

<main>

    <!-- ======================= HOME =========================  -->

    <section class="home" id="home">
        <div class="home__container container">
            
        </div>
    </section>




</main>
<!-- =========== LINK JS ========= -->
<script src="../assets/Js/main.js"></script>    
</body>
</html>