/* ============ IMPORT FONTS =============== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

/* ================== VARIABLES CSS =================== */

:root {
  --header-height: 8rem;

  /* ============ COLORS ========  */
  --hsl-: 320;
  --font-color: #333;
  --font-color-light: #666;
  --black: #000;
  --primary-color: hsl(var(--hsl-), 35%, 84%);
  --secundary-color: hsl(var(--hsl-), 40%, 65%);
  --white: #fff;

  /* =========== FONTS ============= */

  --body-font: "Poppins", sans-serif;

  --biggest-font-size: 2rem;
  --h2-font-size: 1.85rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.2rem;

  /* =========== FONT WEIGHT ============= */
  --bold: 700;
  --semi-bold: 600;
  --medium-font-weight: 500;
  --regular-font-weight: 400;
  --light-font-weight: 300;

  /* =========== Z-index ============= */

  --z-fixed: 100;
  --z-tooltip: 1;
}

/* =================== RESET HTML ===================  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: var(--body-font);
}

/* ======================= MAIN =======================  */

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../images/register/purple__smoke.png);
  padding: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
/* =========== MAIN LAYOUT ============= */
.box {
  z-index: var(--z-fixed);
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: var(--white);
  border-radius: 3.5rem;
  box-shadow: -60px 60px 40px -30px rgba(0, 0, 0, 0.3),
    2px -6px 40px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.box:hover {
  transform: scale(1.03);
}

.inner-box {
  position: absolute;
  width: calc(100% - 6.56rem);
  height: calc(100% - 6.56rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 1s ease-in-out;
}

/* =================== FORM ==================== */
.img-logo {
  width: 25px;
  margin-right: 0.48rem;
}

form {
  max-width: 260px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}
/* 
form.sign-in {
  display: none;
} */

form.sign-up {
  opacity: 0;
  pointer-events: none;
}

.logo__content {
  display: flex;
  align-items: center;
}

.logo-text {
  padding-top: 1rem;
  padding-left: 0.125rem;
  font-size: 2.6rem;
  font-weight: var(--semi-bold);
  color: var(--secundary-color);
  letter-spacing: -0.5px;
}

.heading h2 {
  font-size: 3.36rem;
  font-weight: var(--bold);
  color: var(--secundary-color);
}

.heading h6 {
  color: var(--font-color-light);
  font-weight: var(--medium-font-weight);
  font-size: var(--small-font-size);
  display: inline;
}
.reg {
  font-weight: var(--medium-font-weight);
  font-size: var(--small-font-size);
  text-decoration: underline;
  color: var(--font-color);
  transition: 0.5s;
}

.reg:hover {
  color: var(--secundary-color);
}

.input-wrap {
  position: relative;
  height: 35px;
  margin-bottom: 3.2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  transition: 0.5s;
  border-bottom: 1px solid var(--secundary-color);
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--secundary-color);
  pointer-events: none;
  transition: 0.5s;
}

/* ===== input field js on focus ====== */

.input-field.active {
  border-bottom-color: var(--font-color-light);
}

.input-field.active + label {
  font-size: 1.2rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 43px;
  background-color: var(--black);
  color: var(--secundary-color);
  border: none;
  border-radius: 3rem;
  font-size: 1.28rem;
  margin-bottom: 3.2rem;
  transition: 1s;
}

.sign-btn:hover {
  transform: scale(1.1);
  background-color: var(--secundary-color);
  color: var(--black);
}

.pass__desc {
  color: var(--font-color);
  font-size: 1.2rem;
}

.pass__desc a {
  color: var(--font-color-light);
  text-decoration: underline;
  transition: 1s;
}

.pass__desc a:hover {
  color: var(--secundary-color);
}

.btn-google {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 43px;
  background-color: var(--black);
  color: var(--secundary-color);
  border: none;
  border-radius: 3rem;
  font-size: 1.28rem;
  margin-bottom: 3.2rem;
  transition: 1s;
}

/* ================== sign up slider =====================  */

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode form.sign-in {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .carousel {
  left: 0;
}

/* ======================== CAROUSEL ================= */
.carousel {
  z-index: var(--z-fixed);
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  border-radius: 3.2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 3.2rem;
  background-color: var(--secundary-color);
  transition: 1s ease-in-out;
  box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.3), 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.carousel:hover {
  transform: scale(1.04);
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  height: 350px;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-wrap {
  max-height: 3.52rem;
  overflow: hidden;
  margin-bottom: 4rem;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 1s;
}

.text-group h2:nth-child(2) {
  padding: 0 1px;
}

.text-group h2 {
  line-height: 3.52rem;
  font-weight: var(--semi-bold);
  font-size: 2.2rem;
  text-transform: capitalize;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bullets span {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 0.75rem;
  border-radius: 50%;
  transition: 0.5s;
}

.bullets span.active {
  width: 1.125rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.bullets span:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.img-2 {
  width: 65%;
  height: 65%;
  margin: auto;
  transform: rotate(-30deg);
}

.img-3 {
  padding-top: 25px;
  transform: rotate(-30deg);
  transform: scale(0.4, 0.5);
}

#radio1:checked ~ .bullets span {
  background-color: var(--primary-color);
}
#radio2:checked ~ .bullets span {
  background-color: var(--primary-color);
}
#radio3:checked ~ .bullets span {
  background-color: var(--primary-color);
}
